*,
*::before,
*::after {
    box-sizing: border-box;
}

#root {
    max-width: 1600px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

/* html {

    background-color: #ecf9ff;
} */

  
body {
    font-family: 'Iosevka', serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    padding: 1rem;
    /* max-width: 800px; */
    margin: 0 auto;
}

img {
    /* border-radius: 10px; */
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid gray;
    border-radius: 1em;
    height: 100px;
}

.header input, button {
    height: 3em;
}

.catalogue-container {
    padding: 10px;
}

.dog-grid {

    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
}
  