*,
*::before,
*::after {
    box-sizing: border-box;
}

#root {
    max-width: 1600px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

/* html {

    background-color: #ecf9ff;
} */

  
body {
    font-family: 'Iosevka', serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    padding: 1rem;
    /* max-width: 800px; */
    margin: 0 auto;
}

img {
    /* border-radius: 10px; */
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

button {
    width: 100px;
    height:100px;
}

button img {
    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    border: solid 2px rgba(32, 152, 209, 0.75);
    border-radius: 20px;
}

.left-section, .right-section {
    display: flex;
    align-items: center;
}

.header input, button {
    height: 3em;
}


@media (min-width: 350px) {
    /* .header {
        flex-direction: column;
        align-items: center;
    } */

    .header h1 {
        /* width: 100%; */
        font-size: 1.2rem;
    }

    .header button {
        font-size: 0.8em;
    }
}

@media (min-width: 576px) {
    /* .header {
        flex-direction: column;
        align-items: center;
    } */

    .header h1 {
        /* width: 50%; */
        font-size: 1.5rem;
    }

    .header button {
        font-size: 1em;
    }
}

@media (min-width: 992px) {
    /* .header {
        flex-direction: row;
        justify-content: space-between;
    } */

    .header h1 {
        /* width: 33.3333%; */
        font-size: 1.8rem;
    }

    .header button {
        font-size: 1.2em;
    }
}

@media (min-width: 1400px) {
    /* .header {
        flex-direction: row;
        justify-content: space-between;
    } */

    .header h1 {
        /* width: 25%;
        flex: 1 0 calc(25% - 10px); */
        font-size: 2rem;
    }

    .header button {
        font-size: 1.5em;
    }
}
.catalogue-container {
    padding: 10px;
}

.dog-grid {

    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
}
  