*,
*::before,
*::after {
    box-sizing: border-box;
}

html {

    background-color: #ecf9ff;
}

  
body {
    font-family: 'Iosevka', serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    padding: 1rem;
    /* max-width: 800px; */
    margin: 0 auto;
}

img {
    /* border-radius: 10px; */
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.catalogue-container {
    padding: 20px;
}

.dog-grid {

    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;

}
  