/* .dog-preview {
    text-align: center;
    border: solid grey 2px;
    border-radius: 20px;
}

.dog-preview:hover {
    background-color: green;
} */

.dog-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

@-webkit-keyframes dog-preview {
    50% {
      background-color: rgba(32, 152, 209, 0.75);
    }
  }
@keyframes dog-preview{
    50% {
      background-color: rgba(32, 152, 209, 0.75);
    }
}

.data {
  background-color: gray;
  display: grid;
  grid-template-columns: max-content;
}

.dog-preview {
    display: flex;
    padding: 1rem;
    border-radius: 10px;
    padding: 15px;
    display: inline-block;
    vertical-align: middle;
    /* -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color; */
}

@media (min-width: 40rem) {
  .dog-preview {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .dog-preview {
    width: 33.3333%;
  }
}

.info {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 20%;
  display: inline-block;
  margin-bottom: 10px;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;

}

.info:hover, .info:focus, .info:active {
    -webkit-animation-name: hvr-back-pulse;
    animation-name: hvr-back-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-color: #2098D1;
    background-color: #2098d1;
    color: white;
}