.dog-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 30%;
}

@-webkit-keyframes dog-preview {
    50% {
      background-color: rgba(32, 152, 209, 0.75);
    }
  }
@keyframes dog-preview{
    50% {
      background-color: rgba(32, 152, 209, 0.75);
    }
}
.dog-card {
  border-radius: 20px;
  overflow: hidden;
  border: 3px solid black;

}

.dog-card img {
  object-fit: contain;
}

.dog-card:hover, .dog-card:active {
  border: 3px solid #2098D1;
}

.data {
  background-color: gray;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.data h3 {
  color: black;
  flex: 1 1 50%;
  margin: 0;
}

.dog-preview {

    display: flex;
    padding: 1rem;
    display: inline-block;
    vertical-align: middle;
}

@media (min-width: 350px) {
  .dog-preview {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .dog-preview {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .dog-preview {
    width: 33.3333%;
  }
}

@media (min-width: 1400px) {
  .dog-preview {
    width: 25%;
    flex: 1 0 calc(25% - 10px);

  }
}

.info {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 20%;
  display: inline-block;
  margin-bottom: 10px;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;

}

.info:hover, .info:focus, .info:active {
    -webkit-animation-name: hvr-back-pulse;
    animation-name: hvr-back-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-color: #2098D1;
    color: white;
}